<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Index Page!</h1>
  <a href="/new">Create new Mongoose</a>
  <% for (idx in mongooses) { %>
    <p>Name: <a href="mongooses/<%= mongooses[idx]._id %>"><%= mongooses[idx].name %></a>
      <a href="/<%= mongooses[idx]._id %>/edit/">Edit dog</a>
      <form action="/<%= mongooses[idx]._id %>/delete/" method='post'>
        <input type="submit" value="Delete">
      </form>
    </p>
  <% } %>
</body>
</html>

